<div class="componente">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
        <label class="logo">
            <img src="./../../../assets/logos/macajillo-logo.PNG" alt="macajillo">
        </label>
        <ul>
            <div class="logos">
                <li>Siguenos en</li>
                <li><a href="https://www.facebook.com/Macajillo-107371751587900" target="_blank"><img src="./../../../assets/logos/facebook-logo.PNG" alt="facebook"></a></li>
                <li><a href="https://www.youtube.com/channel/UCMPsoBDVy2LYBu3iMm3Lvug" target="_blank"><img src="./../../../assets/logos/youtube-logo.PNG" alt="youtube"></a></li>
                <li><a href="https://www.instagram.com/macajillo/?hl=es-la" target="_blank"><img src="./../../../assets/logos/instagram-logo.PNG" alt="instagram"></a></li>
                <li><a href="https://www.tiktok.com/@macajillo?" target="_blank"><img src="./../../../assets/logos/tiktok-logo.PNG" alt="tiktok"></a></li>
            </div>
            <div class="texto"> 
                <li><a href="#">Inicio</a></li>
                <li><a href="#">El proceso</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Seamos Amigos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Mixologia</a></li>
            </div>
        </ul>
        <input type="checkbox" id="check">
        <label class="checkbtn" for="check"><i class="fa fa-bars"></i></label>
    </nav>
</div>
