<div class="contenedor" fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <p class="historia">HISTORIA</p>
        <p class="parrafo1">CONOCE QUIENES HACEN MACAJILLO</p>
    </div>
    <div class="" fxFlex="50" fxLayoutAlign="center center">
        <img fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90" src="./../../../../assets/img/historia.png" alt="">
    </div>
    <div class="texto" fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <p class="macajillo">MACAJILLO</p>
        <p class="parrafo2">El fruto nace de un arbusto o pequeño árbol de hasta 4-5 m de altura. Es una especie que se adapta mejor a climas subtropicales, en áreas libres de heladas. Se adapta a todo tipo de suelos, aunque especialmente los ligeros y bien drenados. </p>
    </div>

</div>