<div class="contenedor">
    <div class="texto">
        <h1 class="historia">HISTORIA</h1>
        <p class="parrafo1">CONOCE QUIENES HACEN MACAJILLO</p>
        <h2 class="macajillo">MACAJILLO</h2>
        <p class="parrafo2" >El fruto nace de un arbusto o pequeño árbol de hasta 4-5 m de altura. Es una especie que se adapta mejor a climas subtropicales, en áreas libres de heladas. Se adapta a todo tipo de suelos, aunque especialmente los ligeros y bien drenados. </p>
    </div>
    <div class="imagen">
        <img src="./../../../../assets/img/historia.png" alt="">
    </div>
</div>