<div class="contenedor" fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="texto" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <h1>¿DÓNDE COMPRAR?</h1>
    </div>
    <div class="" fxFlex="50" fxLayoutAlign="center center">
        <a href="https://www.amazon.com.mx/" target="_blank" fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90" ><img src="./../../../../assets/logos/amazon.png" alt="amazon" class="amazon"></a>
    </div>
    <div class="" fxFlex="50" fxLayoutAlign="center center">
        <a href="https://www.mercadolibre.com.mx/" target="_blank" fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90"><img src="./../../../../assets/logos/mercadoLibre.png" alt="mercado libre" class="mercadoLibre"></a>
    </div>
</div>
