*{
    padding: 1px;
    margin-top: 10px;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


.contenedor{
    background-color: #f7eee2;
}


.texto{
    text-align: center;
    font-size:30px;
    font-family: Avenir-Regular;
    color: #b08c3d;
    letter-spacing: 8.7px;
    margin-left:10%;
    margin-right:10%;
}


