<div class="contenedor" fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="slider">
        <div class="imagenes" fxFlex="118" fxLayoutAlign="center center">
            <input type="radio" name="slide" id="img1" checked>
            <input type="radio" name="slide" id="img2">
            <input type="radio" name="slide" id="img3">
            <input type="radio" name="slide" id="img4">
            <input type="radio" name="slide" id="img5">
            <img src="./../../../assets/img/slider1.PNG" class="m1" alt="img1"fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90">
            <img src="./../../../assets/img/slider2.PNG" class="m2" alt="img2"fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90">
            <img src="./../../../assets/img/slider3.PNG" class="m3" alt="img3"fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90">
            <img src="./../../../assets/img/slider4.PNG" class="m4" alt="img4"fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90">
            <img src="./../../../assets/img/slider5.PNG" class="m5" alt="img5"fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90">
        </div>
        <div class="botones" fxFlex="50" fxLayoutAlign="center center">
            <label for="img1"></label>
            <label for="img2"></label>
            <label for="img3"></label>
            <label for="img4"></label>
            <label for="img5"></label>
        </div>
    </div>
</div>
