*{
    padding: 1px;
    margin-top: 10px;
    box-sizing: border-box;
    list-style: none;
}


.contenedor .galeria img:hover{
    transform:translateY(-15px);
    transition: all 1s;
}


.contenedor .galeria img{
    width: 330px;
    height: 220px;
}


