*{
    padding:0px;
    margin-top:0;
    margin-left: -1%;
    margin-right: -0.2%;
    list-style: none;
    text-decoration: none;
    font-family: Avenir-Regular;
}

.contenedor{
    background-color: #f7eee2;
}


.texto{
    text-align: center;
}

.video video {
    width: 1000px;
    margin-top: 10%;
    margin-left: 0.1%;
    margin-right: 0%;
}



.texto .producto{
    color: black;
    font-size:10px;
    
}

.texto .informacion{
    color:black;
    font-weight: bold;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto .hashtag{
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto .comprar{
    color: white;
    font-size:30px;
    cursor: pointer;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 1px solid black;
}

a:hover{
    color:white;
    background-color:black;
}