<div class="contenedor">
    <div class="imagen">
        <img src="./../../../../assets/img/macajillo.png" alt="Heineken">
    </div>
    <div class="texto">
        <p class="producto">MACAJILLO</p>
        <p class="informacion">LICOR DE <br> MACADAMIA </p>
        <p class="hashtag">#REINADELASNUECES</p>
        <p class="comprar"><a href="#">comprar</a></p>
    </div>
    <div class="video">
        <video controls loop src="https://novekimage.s3.amazonaws.com/Carajillo+HD.mp4" autoplay></video>
    </div>
</div>