<div class="contenedor" fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="imagen" fxFlex="50" fxLayoutAlign="center center">
        <img src="./../../../../assets/img/macajillo.png" alt="Heineken" fxFlex.xs="60" fxFlex.sm="96" fxFlex.md="90">
    </div>
    <div class="texto" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <p class="producto">MACAJILLO</p>
        <p class="informacion">LICOR DE <br> MACADAMIA </p>
        <p class="hashtag">#REINADELASNUECES</p>
        <p class="comprar"><a href="#">comprar</a></p>
    </div>
    <div class="video" fxFlex="100" fxLayoutAlign="center center">
        <video controls loop src="https://novekimage.s3.amazonaws.com/Carajillo+HD.mp4"  fxFlex.xs="100" fxFlex.sm="96" fxFlex.md="90"></video>
    </div>
</div>