<div class="contenedor" fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="video" fxFlex="50" fxLayoutAlign="center center">
        <video controls loop src="https://novekimage.s3.amazonaws.com/media/Macajillo+coctel+1+HD..mp4"  fxFlex.xs="50" fxFlex.sm="96" fxFlex.md="90"></video>
    </div>
    <div class="contenedor2">
        <div class="card1" fxFlex="10" fxLayoutAlign="center center">
            <img src="./../../../../assets/img/card1.jpeg" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10">
            <h1>SUN SHINE</h1>
            <h2>INGREDIENTES</h2>
            <p>
                15ml limón sin semilla. <br>
                30ml jarabe natural. <br>
                35ml jugo de mango. <br>
                35ml jugo de naranja. <br>
                45ml licor nuez de macadamia. <br>
                Garnish de piel de naranja.
            </p>
        </div>
        <div class="card2" fxFlex="10" fxLayoutAlign="center center">
            <img src="./../../../../assets/img/card2.jpeg" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10">
            <h1>LUCA</h1>
            <h2>INGREDIENTES</h2>
            <p>
                35ml tequila añejo. <br>
                45ml licor macajillo. <br>
                15ml miel de agave <br>
                10ml limón sin semilla. 
            </p>
        </div>
        <div class="card3" fxFlex="10" fxLayoutAlign="center center">
            <img src="./../../../../assets/img/card3.jpeg" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10">
            <h1>MACAJILLO CON CAFÉ</h1>
            <h2>INGREDIENTES</h2>
            <p>
                50ml de café nespresso. <br>
                50ml de licor de macadamia. <br>
            </p>
        </div>
        <div class="card4" fxFlex="10" fxLayoutAlign="center center">
            <img src="./../../../../assets/img/card4.jpeg" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10">
            <h1>MACAJILLO EN LAS ROCAS</h1>
            <h2>INGREDIENTES</h2>
            <p>
                50ml de licor de macadamia <br>
                Mucho hielo 
            </p>
        </div>
    </div>
</div>